.transform (@t) {
	transform: @t;
	-o-transform: @t;
	-ms-transform: @t;
	-moz-transform: @t;
	-webkit-transform: @t;
}
.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
	box-shadow: @arguments;
	-o-box-shadow: @arguments;
	-ms-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-webkit-box-shadow: @arguments;
}
.border-radius (@radius) {
	border-radius: @radius;
	-o-border-radius: @radius;
	-ms-border-radius: @radius;
	-moz-border-radius: @radius;
  	-webkit-border-radius: @radius;	
}

.folded (@color: #000) {
	content: ' ';
	border-style: solid;
	border-width: 15px;
	height: 0px;
	width: 0px;
	position: absolute;
	z-index: -1;
}
.left_folded (@color: #000, @left: 0, @top: 0) {
	&:before {
		.folded(@color);

		border-color: transparent @color transparent transparent;
		left: @left;
		top: @top;
	}
}
.right_folded (@color: #000, @right: 0, @top: 0) {
	&:after {
		.folded(@color);

		border-color: transparent transparent transparent @color;
		right: @right;
		top: @top;
	}
}

body {
	background-image: url(../img/bck.jpg);
}

#menu {
	position: relative;
	z-index: 80;
	padding-top: 70px;

	ul li {
		.transform(rotate(-45deg));
		height: 30px;
		width: 150px;
		float: left;
		background: #7f9db9;
		text-align: right;
		margin-left: -30px;

		&.current {
			background: #7f9e00;
		}
		&:first-child {
			margin: 0;
		}
		&:hover {
			.transform(rotate(-45deg) scale(1.1));
			.box-shadow(0px 0px 8px rgba(0,0,0,0.5));
		}
		a {
			color: #fff;
			padding: 5px;
			text-decoration: none;
			display:block;
		}
	}
}

#wrapper_content {
	clear: both;
	margin: 0px 15px;
	width: 910px;
	background: #fff;
	.border-radius(10px);
  	.box-shadow(0px 0px 8px rgba(0,0,0,0.3));
	position: relative;
	z-index: 90;

	> .title {
		background: #7f9db9;
		height: 42px;
		width: 940px;
		position: relative;
		left: -15px;
		top: 30px;
		.box-shadow(0px 0px 8px rgba(0,0,0,0.55));
	  	padding: 5px 0;

	  	.left_folded(#7d90a3, -15px, 37px);
	  	.right_folded(#7d90a3, -15px, 37px);

	  	h1 {
			color: #fff;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
			text-align: center;
			margin: 0;
			border-top: 1px dashed rgba(66, 66, 66, 0.26);
			border-bottom: 1px dashed rgba(66, 66, 66, 0.26);
	  	}
	}

	#content {
		position: relative;
		padding: 40px 20px 20px 20px;

		#portrait {
			position: absolute;
			left: 280px;
			width: 350px;
		}

		.title {
			margin-top: 150px;
			position: relative;
			left: -35px;
			display: inline-block;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
			color: #fff;
			background-color: #922;
			.border-radius(0 20px 20px 0);
			padding: 5px 5px 5px 0;
			.box-shadow(0px 0px 4px rgba(0,0,0,0.55));

		  	.left_folded(#911, -14px, 38px);

			h2 {
				margin: 0;
				padding: 0 35px;
				border: 1px dashed rgba(26, 26, 26, 0.63);
				border-left: 0;
				.border-radius(0 20px 20px 0);
			}
		}

		.subtitle {
			margin-top: 10px;
			position: relative;
			right: -35px;
			margin-left: -35px;
			background-color: #D4D698;
			padding: 5px 0 5px 5px;
			.box-shadow(0px 0px 4px rgba(0,0,0,0.3));

		  	.right_folded(#D4C678, -15px, 35px);

			h3 {
				margin: 0;
				border: 1px dashed #000;
				border-right: 0;
				padding-left: 10px;
			}
		}
	}
}